/* Reset margins and paddings */
* {
  margin: 0;
  padding: 0;
}

/* See the CSS3 cheat-sheet in the /images folder for a quick overview */
body {
  /* text-align: center; */
  background-color: black;
  color: white;
  padding: 20px;
  font-family: Verdana, sans-serif;
}

section {
  margin-bottom: 24px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #68d517;
}

h1, h2, h3, h4, h5 {
  color: #68d517;
  margin-top: 16px;
  margin-bottom: 16px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  padding-left: 16px;
}

header h2 {
  margin: 8px;
}

ul {
  padding: 0 8px;
  margin-bottom: 8px;
  margin-left: 12px;
}

p {
  margin-bottom: 8px;
}

.app {
  padding: 16px;
  margin: 24px;
}

.feature {
  margin-bottom: 16px;
  width: 100%;
  padding-bottom: 8px;
}

.feature:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}

a, .codezilla-green {
  color: #68d517;
}

button {
  padding: 8px;
  font-size: 16px;
}
/*
.details {

}

.work{

}

.education {

}

.hobbies {

} */
